PORT=3003

NATS_SERVERS=nats://nats-server:4222

STRIPE_SECRET_KEY=s123_abc_dummy
STRIPE_ENDPOINT_SECRET=s123_abc_dummy
STRIPE_SUCCESS_URL=http://localhost:3003/api/v1/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/api/v1/payments/cancelled