PORT=3000

POSTGRES_USER=dummy
POSTGRES_PASSWORD=dummy
POSTGRES_DB=dummy
POSTGRES_HOST=dummy
POSTGRES_PORT=dummy

JWT_SECRET=dummy
JWT_TOKEN_AUDIENCE=dummy:3000
JWT_TOKEN_ISSUER=dummy:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

TFA_APP_NAME=dummy
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
SESSION_SECRET=dummy