CLIENT_GATEWAY_PORT=3010
ORDERS_APP_PORT=3002

DB_USERNAME=postgres
DB_PASSWORD=postgres123456
DB_NAME=ordersdb

STRIPE_SECRET_KEY=abc_123_dummy
STRIPE_ENDPOINT_SECRET=abc_123_dummy
STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel