version: '3.8'

services:
  postgres-db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: coffeeDB
    volumes:
      - ./postgres-db:/var/lib/postgresql/data
    ports:
      - 5432:5432